body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#input-form {
  font-size: 18px;
  margin: 50px auto;
}

input {
  font-size: inherit;
  min-height: 50px;
  text-align: center;
  border: 2px solid lightgreen;
  border-radius: 4px;
  padding: 0;
}

.btn-styling {
  font-size: inherit;
  min-height: 50px;
  background-color: lightgreen;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
}

#clear-all-btn {
  background-color: lightcoral;
}
